* {
    margin: 0;
    padding: 0;
}

.main_container {
    background-color: rgb(213, 89, 89);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.input_div {
    display: none;
    width: 80%;
    min-height: 500px;
    max-height: 90%;
    overflow-y: auto;
    font-size: 30px;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 10px;
    font-weight: lighter;
    scroll-behavior: smooth;
    padding: 10px 10px 50px 10px;
    /* margin-bottom: 20px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dir {
    font-weight: bold !important;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
    align-self: flex-end;
}

.flex-column>label {
    color: #151717;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.input_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password_toggle{
    color: #2d79f3;
    cursor: pointer;
    font-weight: bold;
}

.password_toggle:hover{
    text-shadow: 0.5px 0.5px 50px  #2d79f3;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 80%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.passcode-msg{
    all: unset;
color: red;
font-size: 12px;
position: absolute;
bottom: -15px;
display: none;
font-weight: bold;

}

.button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}